<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>optisesa_ws</display-name>
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.scan.providers</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.scan.resources</param-name>
		<param-value>false</param-value>
	</context-param>
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>ec.edu.uce.optisesa.rest</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<env-entry>
		<env-entry-name>rest.connectstring0</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>jdbc:postgresql://</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>rest.database0</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>optisesa_tesis</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>rest.dbdriver0</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>org.postgresql.Driver</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>rest.dbpass0</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>user</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>rest.dbport0</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>5432</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>rest.dbschema0</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>public</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>rest.dburl0</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>172.30.1.108</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>rest.dbuser0</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>user</env-entry-value>
	</env-entry>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
